body {
    background: #e6e6e6;
    margin: 100px;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
}




.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: auto;
    background: white;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
}

h2 {
    font-size: 24px;
}
.container h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 900;
    color: #2D4ED8;
    letter-spacing: -1px;
    text-align: center;
}

.group {
    margin-bottom: 15px;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tag {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label {
    font-size: 14px;
    font-weight: 400;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: auto;
    box-sizing: border-box;
}

input::placeholder {
  color: rgb(179, 179, 179);
  font-weight: 100;
  font-size: 12px;
  width: 440px;
 
}

#btn {
    background: #2D4ED8;
    color: white;
    width: 300px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
}

.group {
  
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-content: center;   
    margin: 0px 0px 40px 0px;
}

.form-container h2{

margin-bottom: 20px;

}
