@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.section-divider {                                            /* Section Divider */
    border: none;
    border-top: 10px solid #F9FAFB;
    margin: 0px auto;
    
}

.section-divider-2 {                                            /* Section Divider */
    border: none;
    border-top: 10px solid #F9FAFB;
    margin: 0px auto;
    
}

body {                                                  /* Global Styles */
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  padding: 0 auto;
  line-height: 1.6;
  color: #333;
}

header {                                               /* Header */
    text-align: center;    
    position: relative;                                       
    padding: 20px 0;
}

.logo img {                                            /* Logo */                                                 
    width: 274px;
    height: 56px;
    display: block;
    align-items: center;
    margin: 0 auto;
}

h1 {                                                   /* Heading */   
    font-size: 3rem;
    line-height: 140%;
    margin: 0;
    width: fit-content;
    font-weight: 600;
    text-align: left;
    color: #1C2334;
}


.navigation {       
  display: flex;
  justify-content: center;                              /* Navigation Bar container */
  background-color: #f2f2f2;   
  margin-top: 14px;
  padding: 4px 0;    
  z-index: 999;         
}

.navigation a { 
                                                        /* Navigation Bar */
  text-decoration: none;
  color: #333;
  font-weight: 500;
  margin: 0 12px;
  font-size: 1rem;
}

.navigation a:hover {                                   /* Navigation Bar hover effect */ 
  color: #007bff;
}

.about-hero{
    display: flex;
    justify-content: center;

}

.mockup{
    margin-top: 20px;


}

.mockup img{
    width: 300px;
    height: auto;
    z-index: 2;

}

.about-container{
    display: flex;
    padding: 0px 120px 0px 120px;
    justify-content: center;
    
}

.cashback img{
    width: 120px;
    height: 120px;

}

.cashback {
    position:absolute;
    width: 120px;
    height: 120px;

    top: 180px;
    left: 1000px;


}



.instant img{
    width: 78px;
    height: 78px;

}

.instant{
    position:absolute;
    width: 78px;
    height: 78px;

    top: 300px;
    left: 1200px;

}




.security img{
    width: 124px;
    height: 149px;
    top: 70px;
    left: 80px;
   
}

.security {
    position:absolute;
    width: 124px;
    height: 149px;

    top: 200px;
    left: 300px;
   
}


.support{
    position:absolute;
    width: 70px;
    height: 58px;

    top: 400px;
    left: 450px;

}

.support img{
    width: 74px;
    height: auto;

}


.transfer img{
    width: 100px;
    height: 100px;

}

.transfer{
    position:absolute;
    width: 100px;
    height: 100px;

    top: 400px;
    left: 960px;

}

/*    About-content  */

.about-us h2{    
    margin: 0px;                                     /* Features Heading */
    font-size: 36px;
    line-height: 100%;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    padding: 8px 8px 0px 8px;
    margin-bottom: 0px;
    color: #1C2334;

}

.about-us h2::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 6%;
    
    width: 110px;                        /* line length */
    height: 3px;                        /* line thickness */
    background-color: #f9c600;       /* yellow */
    border-radius: 0%;

}

.about-content h3{
    margin: 0px;
    font-size: 16px;
    color: #374151;
    font-weight: 600;
    display: flex;
    justify-content: center;

}

.about-content p{
    font-size: 14px;
    text-align: center;
    margin: 0px;
    color: #374151;
    font-weight: 500;
    width: 760px;

}


.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

}

.about-us{
    margin: 40px 0px 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

/*      Our Mission */

.mission-content h2{   
    margin: 0px;                                      /* Features Heading */
    font-size: 36px;
    line-height: 100%;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    padding: 8px 8px 0px 8px;
    margin-bottom: 0px;
    color: #1C2334;

}

.mission-content h2::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 20%;
    
    width: 70px;                        /* line length */
    height: 3px;                        /* line thickness */
    background-color: #f9c600;       /* yellow */
    border-radius: 0%;

}

.mission-content p{

    font-size: 14px;
    text-align: center;
    margin: 0px;
    color: #374151;
    font-weight: 500;
    width: 760px;

}

.mission-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

}


.mission-container{
    margin: 60px 0px 60px 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

/* why us */

.why-content h2{
    margin: 0px;                                      /* Features Heading */
    font-size: 36px;
    line-height: 100%;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    padding: 8px 8px 0px 8px;
    margin-bottom: 0px;
    color: #1C2334;


}


.why-content h2::after{
    content: '';
    position:absolute;
    bottom: -5px;
    left: 16%;

    width: 74px;                        /* line length */
    height: 3px;                        /* line thickness */
    background-color: #f9c600;       /* yellow */
    border-radius: 0%;


}

.why-content{
    margin: 60px 0px 60px 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}




.highlight-blue{
    color: #007bff;
    margin: 0px;

}

.text{
    display: flex;
    flex-direction: column;
    width: 760px;
    gap: 8px;

}



.line1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    font-size: 14px;

    margin: 0px;

}

.line1 p{
    margin: 0px;
    
}


/* Feedback section */


.customer-feedback h2{    
                                                        /* Benefits Section */
    font-size: 36px;
    line-height: 100%;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    padding: 8px 8px 0px 8px;
    margin-bottom: 0px;
    color: #1C2334;

}     

.customer-feedback p{   
    width: 100%;                          
    font-size: 1rem;
    font-family: "inter" "sans-serif"; 
    color: #374151;
    line-height: 100%;
    margin: 12px auto 0;
    font-weight: 400;
    text-align: center;

}    

.customer-feedback h2::after {

    content: '';
    position: absolute;
    bottom: -3px;
    left: 37%;
    
    width: 196px;                        /* line length */
    height: 3px;                        /* line thickness */
    background-color: #f9c600;       /* yellow */
    border-radius: 0%;
}

.text-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.text-group h3 {
    font-family: "poppins",sans-serif;
    font-size: 16px;
    margin: 0px;
    line-height: 100%;
    font-weight: 600;
    text-align: left;
    color: #111827;
}

.text-group span {
    font-family: "inter",sans-serif;
    font-size: 12px;
    margin: 0px;
    line-height: 100%;
    font-weight: 300;
    text-align: left;
    color: #111827;
}

.feedback img{
    width: 44px;
    height: 44px;
}

.feedback {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;

}

.feedback-box p {
        font-size: 18px;
        font-family: "inter",sans-serif;
        color: #111827;
        text-align: left;
        margin: 0%;
        line-height: 140%;
}

.feedback-box {
    display: flex;
    flex: 0 0 300px;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    align-items: left;
    width: 364px;
    height: auto;
    background: #F9FAFB;
    border: solid 2px #C2C6CD;
    border-radius: 4px;
}

.feedback-container {
    margin: 60px 0px 60px 0px;
    align-items: stretch;
    width: 100%;
    position: relative;
    
    overflow: hidden;
     
}

.scroll {
    display: flex;
    gap: 20px;
    flex-direction: row;
          /* hides scrollbar */
    animation: scrollFeedback 20s linear infinite; /* auto scroll */

}
    

.feedback-box {
  flex: 0 0 300px;           /* fixed width of each box */
}  


@keyframes scrollFeedback {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%); /* move left, adjust as needed */
  }
}


               /* FOOTER */



.footer{
        background: #374151;
        padding: 60px 120px 60px 120px;
        margin: 0;
        


    
        
}

.footer-container{
    
    background: #374151;
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 24px;

}

.footer-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 500px;
    height: auto;

}

.footer-left img{
    width: 274px;
    height: 56px;

}

.footer p{
    font-size: 12px;
    font-family: "inter",sans-serif;
    margin: 0%;
    font-weight: 200;
    color: #ffffff;
    text-align: left;
    line-height: 140%;
    width: 300px;

}

.icon-left {
    display: flex;
    flex-direction: row;
    gap: 24px;


}

.icon-left img{
    width: 32px;
    height: auto;
}

.links-right{
    display: flex;
    flex-direction: column;
    margin: 0px 16px 0px 16px;
    
    gap: 16;

}

.useful {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.links-right h3{
    margin: 0px;
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase

}

.service {
    display: flex;
    flex-direction: column;
    gap: 16px;
   
}

.get-in-touch {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 200px;
   
}

.text-right{
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: auto;
}

.service a{
    color: #fff;
    font-family: "inter",sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    text-decoration: none;
}

.service a:hover {                                   /* Navigation Bar hover effect */ 
  color: #007bff;
}



.useful a{
    color: #fff;
    font-family: "inter",sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    text-decoration: none;
}

.useful a:hover {                                   /* Navigation Bar hover effect */ 
  color: #007bff;
}




.get-in-touch span{
    color: #fff;
    font-family: "inter",sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    text-decoration: none;
}

.call{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
}

.email{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
}

.location{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: flex-start;
}

.horizontal-line {
    border-bottom: solid 1px #fff;
    margin: 24px 0px 24px 0px ;

}

.copyright{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.copy-right a{
    color: #fff;
    font-family: "inter",sans-serif;
    font-size: 0.6rem;
    font-weight: 300;
    text-decoration: none;
}

.copy-right a:hover{
    color: #007bff;
}

.copy-right{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.copy-left{
    color: #fff;
    font-family: "inter",sans-serif;
    font-size: 0.6rem;
    font-weight: 300;
    text-decoration: none;
    width: 500px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;

}

